*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.settings-btn {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: #07f;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: #eee;
  font-size: 0.8rem;
  gap: 0.5rem;
}
.settings-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
