.container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  height: 100%;
  width: 100%;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: calc(100vh - 6rem);
  overflow-y: scroll;
  padding-block: 4rem;
}

.relation-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.btn-container {
  display: flex;
  width: 80%;
  gap: 0.5rem;
}
